<title>{{title}}</title>

<main>
    <div class="col-9 align-items-end">
         
            <div class="row">
              {{#each result}}
              <div class="col-6">
                
                <div class="row">
                  <div class="col-12">
                    {{!-- how will be give the link to individual display --}}
                    <br><br>
                    <span class="h2">{{address}},{{city}}, {{state}}, {{zipCode}}</span>
                    <br>
                    <h4 class="h4">Beds : {{beds}}   Baths : {{baths}}</h4>
                    <h4 class="h4" id="rent">Rent : {{rent}}   </h4>
                    <h4 class="h4">Deposit : {{deposit}}</h4>
                    <h4 class="h4">Description : {{description}}</h4>
                
                <label for="type-approved" class="radio-inline"><input type="radio" name="type" value="approved" id="male">Aprroved</label>
                <label for="type-notapproved" class="radio-inline"><input type="radio" name="type" value="notapproved" id="female">Not Aprroved</label>
                  </div>
                </div>
                
              </div>
              {{/each}}
            </div>
        </div>
</main>