<title>{{title}}</title>

<main>
  <header>
        <div class="logo">
			<img src="../public/assets/logo.jpg">
		</div>
		<nav>
			<ul>
                <li><button onclick="window.location.href='/';">HOME</button></li> 
                <li><button onclick="window.location.href='/user/logout';">Logout</button></li>
                {{!-- <li><button onclick="window.location.href='/user/userRegistration';">USER SIGN UP</button></li> --}}
                {{!-- <li><button onclick="window.location.href='/manageRentals';">Manage Rentals</button></li> --}}
                {{!-- <li><button onclick="window.location.href='/favourites';">favourites</button></li> --}}
            </ul>
		</nav>
    </header>
    <br>
    <div class="col-9 align-items-end">
         <a href="/user/logout">Log Out!!!</a> <br><br>
            <div class="row">
              {{#each result}}
              {{#if @first}}
              <form id="myForm">
              <div class="col-6">
                
                <div class="row">
                  <div class="col-12" >
                    {{!-- how will be give the link to individual display --}}
                    <br><br>
                    <span class="h2">{{address}},{{city}}, {{state}}, {{zipCode}}</span>
                    <br>
                    <h4 class="h4">Beds : {{beds}}   Baths : {{baths}}</h4>
                    <h4 class="h4" id="rent">Rent : {{rent}}   </h4>
                    <h4 class="h4">Deposit : {{deposit}}</h4>
                    <h4 class="h4">Description : {{description}}</h4>
                    <input type="hidden" value="{{_id}}" id="id">
                
                <label for="checkbox"></label>
                <input type="checkbox" name="checkbox" value="approved" id="checkbox">Aprrove
                <input type="checkbox" name="checkbox2" value="disapproved" id="checkbox2">Dissapprove
                <br>
                <br>
                  
                  </div>
                </div>
              </form>                
              </div>
              {{/if}}
              {{/each}}
            </div>
        </div>
        <script src='../public/js/admin.js'></script>
</main>