<main >
    <div class="n2_tag_fav">
            <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 30px; padding:30px; font-size: 30px;">
            {{!-- <div> --}}
                <div class="second_nav">
                <h2 class="h2_class"> All your favourites!</h2>
                </div>
            {{!-- </div> --}}
            </div>
    </div>
    <div class="parent-fav">
        {{#each results}}
            <div class="child_fav">
                <div class="fav_mini"><a href="/propdetails/{{_id}}"><span class="h2">{{address}}, {{city}}, {{state}}, {{zipCode}}</span></a>
                </div>
                <br>
                <div class="fav_mini">
                    <h4 class="h4">Beds : {{beds}}   Baths : {{baths}}</h4>
                </div>
                <div class="fav_mini">
                    <h4 class="h4" id="rent">Rent : {{rent}}   </h4>
                </div>
                <div class="fav_mini">
                <h4 class="h4">Deposit : {{deposit}}</h4>
                </div>
                <div class="fav_mini">
                    <h4 class="h4">Amenities : {{amenities}}</h4>
                </div class="fav_mini">
                <form class="addtofav" method="DELETE" action="/favourites">
                    <input type="hidden" name="propertyId" value="{{this._id}}"> 
                    <div>
                        <button type="submit"  class="btn" id="Delete_fav">Delete Favourites</button>
                    </div>
                </form>
            </div>
        {{/each}}
    </div>
    <div>
    <button onclick="window.location.href='/filters';">Go Back</button>
    <button onclick="window.location.href='/user/logout';">Log Out!</button>
    <script src="/public/script1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</main>