<h1>{{title}}</h1>
<h2>{{address}}</h2>
<main>
    <dl>
        <dt>Name </dt>
        <dd>{{address}}</dd>
        <dt>Street:</dt>
        <dd>{{street}}</dd>
        <dt>state:</dt>
        <dd>{{state}}</dd>
        <dt>Zip Code:</dt>
        <dd>{{zipCode}}</dd>
    </dl>
</main>