<title>{{title}}</title>
<main>
    <h1>Property Details</h1>
    <dl>
        <dt>Address</dt>
        <dd>{{address}}</dd>
        <dt>City</dt>
        <dd>{{city}}</dd>
        <dt>State</dt>
        <dd>{{state}}</dd>
        <dt>Zip Code</dt>
        <dd>{{zip_code}}</dd>
        <dt>Phone number of owner</dt>
        <dd>{{phonenumber}}</dd>
        <dt>Rent</dt>
        <dd>{{rent}}</dd>
        <dt>Deposit</dt>
        <dd>{{depsoit}}</dd>
        <dt>Bathrooms</dt>
        <dd>{{bath}}</dd>
        <dt>Bedrooms</dt>
        <dd>{{bed}}</dd>
        <dt>Date Posted</dt>
        <dd>{{date}}</dd>
        <dt>Reviews</dt>
        <dd>{{reviews}}</dd>
    </dl>
    <ul class="pf">
            {{#each result}}
            <li>
                <a href="/reviews/{{id}}">{{reviews}}</a>
            </li>
            {{/each}}
        </ul>
   
    <a href="/">Make another search</a>?
</main>