<title>{{title}}</title>
<main>
    <h1>Property Details</h1>
    <dl>
        <dt>Address</dt>
        <dd>{{address}}</dd>
        <dt>City</dt>
        <dd>{{city}}</dd>
        <dt>State</dt>
        <dd>{{state}}</dd>
        <dt>Zip Code</dt>
        <dd>{{zipcode}}</dd>
        <dt>Rent</dt>
        <dd>{{rent}}</dd>
        <dt>Deposit</dt>
        <dd>{{depsoit}}</dd>
        <dt>Bathrooms</dt>
        <dd>{{bath}}</dd>
        <dt>Bedrooms</dt>
        <dd>{{amenities}}</dd>
        <dt>Amenities</dt>
        <dd>{{bed}}</dd>
        <dt>Date Posted</dt>
        <dd>{{date}}</dd>
        <dt>Reviews</dt>
        <dd>{{reviews}}</dd>
    </dl>
    <ul class="pf">
            {{#each reviews}}
            <li>
                {{review}}
            </li>
            {{/each}}
        </ul>
   
<form action="#" id="review-form">
    <label>Reviews <textarea id="new-task-description"></textarea></label>
    <input type="submit" value="add new review"/>
</form>
<script>
$(document).ready(function(){
    $("new-review").on("submit", function(event){
        event.preventDefault();
        var formValues= $(this).serialize();
        $.post("/createreview", formValues, function(data){
            // Display the returned data in browser
    $('#result').append(formValues)
        });
    });
});
</script>
<a href="/searchProperties">Make another search</a>
<a href="/user/logout">Logout</a>
</main>